
<div class="container m-auto">
<div class="row">
    <div class="col-12 col-lg-12 col-md-12">
        <h2 class="text-center">Add Product</h2>
    <form action="/admin/add-product" method="post" enctype="multipart/form-data" class="mr-auto ml-auto">

        <label for="">Title</label>
        <br>
        
        <input type="text" name="Name" id="">
        <br>

        <label for="">Category</label>
        <br>

        <input type="text" name="Category" id="">
        <br>

        <label for="">price</label>
        <br>
        <input type="number" name="price" id="">
        <br>
        

        <label for="">description</label>
        <br>

        <input type="text" name="description" id="">
        <br>

        

        <label for="">Image</label>
        <br>

        <input type="file" name="image" id="" required>
        <br>
        <input type="submit" class="btn btn-success mt-4" name="" id="">

    </form>
    </div>
    </div>
</div>
