<style>
  body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }

  * {
    box-sizing: border-box;
  }

  .row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
  }

  .col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }

  .btn:hover {
    background-color: #45a049;
  }

  a {
    color: #2196F3;
  }

  hr {
    border: 1px solid lightgrey;
  }

  span.price {
    float: right;
    color: grey;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }

    .col-25 {
      margin-bottom: 20px;
    }
  }
</style>
</head>

<body>



  <div class="col-75">
    <div class="container">
      <form action="" method="post" id="check-out-form">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="John M. Doe" required>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com" required>
            <label for="number"><i class="fa fa-envelope"></i> Mobile</label>
            <input type="text" id="email" name="mobile" placeholder="number" required>
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" required>
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York" required>

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY" required>
              </div>
              <div class="col-50">
                <label for="zip">Pin</label>
                <input type="text" id="zip" name="pin" maxlength="4" placeholder="kerala,Mumbai" required>
                <input type="text" name="userId" value="{{user._id}}" hidden>
              </div>
            </div>
          </div>


        </div>
        <div class="col-50">
          <h3 class="float-top pt-2 pr-2 ">TotalAmount:<span id="total">{{total}}</span></h3>
          <h3>Payment</h3>

          <input type="radio" name="payment" value="Cash On Delivery" required>
          <label for="">Cash On Delivery</label>

          <br>

          <input type="radio" name="payment" value="Online Payment" required>
          <label for="">Online Payment</label>




          </label>
          <button type="submit" class="btn btn-success">Continue checkout</button>

        </div>
      </form>




    </div>


    <script>
      $("#check-out-form").submit((e) => {
        e.preventDefault()
        $.ajax({
          url: '/place-order',
          method: 'post',
          data: $('#check-out-form').serialize(),
          success: (response) => {

            if (response.cashOnDeliverySuccess) {
              location.href = '/success'
            } else {
              razorpayPayment(response)
            }
          }
        })
      })
    </script>
    <!--paymnent ui-->
    <script>
      function razorpayPayment(order){
        var options = {
    "key": "YOUR_KEY_ID", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "shopping cart",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
    
};
var rzp1 = new Razorpay(options);
     rzp1.open();
      }
      function verifyPayment(payment,order){
        $.ajax({
          url:'/verify-Payment',
          data:{
            payment,
            order
          },
          method:'post'
        })
      }

    </script>